* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.header {
  background: #000000;
}

.center {
  padding-left: calc(50% - 625px);
  padding-right: calc(50% - 625px);
}

.line {
  width: 130px;
  height: 5px;
  background-color: #FF2D2D;
}

.menu__ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.menu__link {
  padding: 39px 23px 26px;
  display: flex;
  transition: all 0.4s;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #E0E0E0;
}

.menu__link:hover {
  background-color: #FF3F40;
  color: #FFFFFF;
}

.menu__link_active {
  background: #FF3F40;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #E0E0E0;
}

.top {
  background: #F6F2F2;
  padding-top: 29px;
  padding-bottom: 110px;
}

.top__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 101px;
}

.top__section {
  width: 617px;
}

.top__title {
  font-style: italic;
  font-weight: 800;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #000000;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #000000;
}

.text_width_750 {
  width: 750px;
}

.text_reverse {
  color: #FFFFFF;
}

.top__text {
  width: 544px;
  margin-top: 37px;
  margin-bottom: 63px;
}

.button {
  background-color: #FF2D2D;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  border-radius: 5px;
}

.top__button {
  padding: 15px 63px;
  margin-bottom: 123px;
}

.top__button:hover {
  color: #000000;
  background-color: #FF0000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top__video {
  width: 554px;
  height: 359px;
  box-shadow: 0px 0px 45px -10px rgba(0, 0, 0, 0.35);
}

.service {
  margin-top: 107px;
  margin-bottom: 106px;
}

.service__position {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 52px 20px;
  border-bottom: 5px solid #ececec;
  padding-bottom: 99px;
}

.service__article {
  max-width: 539px;
  grid-column: span 2;
  grid-row: span 2;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #000000;
}

.title_reverse {
  color: #FFFFFF;
  text-transform: none;
}

.service__text {
  margin-top: 50px;
  margin-bottom: 80px;
}

.service__button {
  padding: 15px 60px;
  background: rgba(0, 0, 0, 0.0001);
  border: 2px solid #FF0000;
  color: #FF0000;
  transition: all 0.4s;
}

.service__button:hover {
  background-color: #FFFFFF;
  color: #000000;
  border: 2px solid #000000;
}

.article__subtitle {
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  letter-spacing: 0.3px;
  text-align: left;
}

.article__img {
  margin-bottom: 35px;
}

.product__box {
  margin-bottom: 132px;
}

.product__info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.product__text {
  margin-top: 28px;
  margin-bottom: 33px;
}

.product__line {
  margin: auto;
}

.product__list {
  padding-top: 86px;
  padding-bottom: 50px;
}

.product__menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 64px;
}

.product__link {
  font-style: italic;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  transition: color 0.4s;
  color: #000000;
}

.product__link:hover {
  color: #FF2D2D;
}

.product__link_active {
  color: #FF2D2D;
}

.products__block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 17px;
}

.products__photo {
  width: 301px;
  height: 293px;
  border: 0.01px solid #000000;
  background-color: #5281FF;
}

.team {
  margin-bottom: 115px;
  padding-left: calc(50% - 609px);
}

.team__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 67px;
}

.team__title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.team__paragraph {
  width: 459px;
  margin-top: 34px;
  margin-bottom: 37px;
}

.team__links {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 46px;
  margin-bottom: 59px;
}

.team__text {
  width: 635px;
}

.team__img {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.team__photo {
  display: flex;
  width: 196px;
  height: 216px;
  background-color: #FF3F40;
  position: relative;
  overflow: hidden;
}

.team__name-box {
  mix-blend-mode: normal;
  text-transform: uppercase;
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  bottom: 0;
  left: -100%;
  transition: left 0.4s;
}

.team__person-name {
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  font-style: italic;
  text-align: center;
}

.team__photo:hover .team__name-box {
  left: 0;
}

.team__content {
  margin-top: 42px;
}

.team__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 0px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.team__link {
  font-style: italic;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.9px;
  color: #000000;
  transition: color 0.4s;
}

.team__link:hover {
  text-decoration: underline;
}

.form {
  background-color: #313030;
  padding-top: 151px;
  padding-bottom: 140px;
  text-align: center;
}

.form__text {
  margin-top: 17px;
  margin-bottom: 57px;
}

.form__values {
  display: flex;
  justify-content: center;
}

.form__button {
  text-transform: uppercase;
  padding-right: 60px;
  padding-left: 60px;
  margin-left: 19px;
  border: none;
}

.form__button:hover {
  color: #000000;
  background-color: #F6F2F2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.input {
  font-family: Onen Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  border-radius: 5px;
  color: #000000;
  outline: none;
  border: none;
  box-sizing: border-box;
}

.form__input {
  line-height: 24px;
  width: 524px;
  height: 82px;
  padding: 0 38px;
  letter-spacing: 0.4px;
  color: #2C2C2C;
}

.contacts {
  padding-left: calc(50% - 625px);
  margin-bottom: 107px;
  margin-top: 104px;
}

.contacts__position {
  display: flex;
  padding-top: 74px;
  gap: 104px;
  flex-wrap: wrap;
}

.contacts__paragraph {
  margin-top: 46px;
  margin-bottom: 58px;
}

.contacts__form {
  width: 750px;
}

.contacts__info {
  background-color: #2d2d2d;
  color: #FFFFFF;
  padding-left: 81px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  flex-grow: 1;
}

.contacts__text {
  color: #FFFFFF;
  transition: all 0.4s;
  width: 315px;
}

.contacts__div {
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 44px;
}

.contacts__input {
  width: 339px;
  height: 69px;
  background-color: #E0E0E0;
  padding: 0 50px;
  box-sizing: border-box;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  border: none;
  outline: none;
  border-radius: 5px;
}

.contacts__input_textarea {
  width: 734px;
  height: 252px;
  background-color: #E0E0E0;
  padding: 32px 50px;
  margin-bottom: 43px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  resize: none;
}

.contacts__btn {
  width: 731px;
  height: 75px;
  background-color: #FF3B3B;
  text-transform: uppercase;
  border: none;
}

.contacts__btn:hover {
  padding-top: 4px;
  background-color: #FF0000;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contacts__subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.contacts__adress {
  margin-bottom: 27px;
}

.contacts__email {
  margin-bottom: 20px;
}

.contacts__text:hover {
  color: #FF0000;
  font-size: 18px;
}

.footer {
  background-color: #313030;
  height: 113px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 48px;
}

.footer__text {
  color: #B8B8B8;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.footer__icons {
  display: flex;
  gap: 18px;
}

.footer__icon {
  background-color: #fff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
}

path {
  transition: fill 0.3s;
}

.footer__icon:hover {
  background-color: #FF3B3B;
}

.footer__icon:hover path {
  fill: #fff;
}

@media screen and (max-width: 1280px) {
  .products__block {
    gap: 14px;
  }

  .contacts {
    padding-left: calc(50% - 609px);
    padding-right: calc(50% - 609px);
  }

  .contacts__name {
    width: 139px;
  }

  .contacts__mail {
    width: 142px;
    height: 69px;
  }

  .contacts__message {
    width: 434px;
  }

  .contacts__info {
    width: 380px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 450px);
    padding-right: calc(50% - 450px);
    width: 100vw;
  }

  .top__content {
    flex-direction: column;
    align-items: center;
    justify-content: unset;
  }

  .top__section {
    width: 100vw;
  }

  .top__block {
    margin-top: 60px;
  }

  .top__video {
    width: 100%;
  }

  .service__position {
    grid-template-columns: repeat(2, 1fr);
  }

  .service__article {
    max-width: none;
  }

  .product__menu {
    gap: 20px;
    margin-left: 200px;
  }

  .products__block {
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    justify-content: center;
  }

  .team__paragraph {
    width: 100vw;
  }

  .team__text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team__section {
    justify-content: center;
  }

  .form__title {
    font-size: 36px;
  }

  .contacts {
    justify-content: center;
    padding-left: calc(50% - 450px);
    padding-right: calc(50% - 450px);
  }

  .contacts__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__info {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .center {
    padding-left: calc(50% - 350px);
    padding-right: calc(50% - 350px);
  }

  .top__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .products__block {
    grid-template-columns: repeat(2, 300px);
    gap: 30px;
    justify-content: center;
  }

  .product__menu {
    margin-left: 50px;
  }

  .product__link {
    font-size: 16px;
  }

  .top__button {
    margin-bottom: unset;
  }

  .team__section {
    gap: 20px;
  }

  .team__photo {
    width: 150px;
    height: 146px;
  }

  .form__title {
    font-size: 26px;
  }

  .contacts {
    padding-left: calc(50% - 350px);
  }

  .footer__text {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 480px) {
  .center {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
    width: 100vw;
  }

  .text {
    width: unset;
  }

  .service__position {
    grid-template-columns: repeat(1, 1fr);
  }

  .service__article {
    grid-row: span 1;
    grid-column: span 1;
  }

  .products__block {
    grid-template-columns: repeat(1, 300px);
  }

  .product__link {
    font-size: 12px;
  }

  .top__content {
    gap: 60px;
  }

  .top__block {
    margin-top: unset;
  }

  .top__section {
    width: 350px;
  }

  .top__video {
    width: 450px;
    height: 259px;
  }

  .form__input {
    width: 324px;
  }

  .top__title {
    font-size: 40px;
  }

  .contacts__form {
    width: 420px;
    margin: auto;
  }

  .contacts__info {
    width: 420px;
    margin: auto;
    margin-top: 50px;
    display: flex;
  }

  .contacts__input {
    width: 180px;
  }


  .contacts__input_textarea {
    width: 410px;
  }

  .contacts__btn {
    width: 410px;
  }

  .team__top {
    text-align: center;
  }

  .team__info {
    width: unset;
  }

  .team__stroke {
    margin: auto;
  }

  .contacts {
    padding-left: calc(50% - 200px);
    padding-right: calc(50% - 200px);
    width: 100vw;
  }

  .contacts__paragraph {
    width: 400px;
  }
}

/*# sourceMappingURL=styleTest.css.map */